/.idea/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_50_c2_50/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_50_c2_50_run2/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_50_c2_50_run3/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_67_c2_33/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_67_c2_33_run2/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_67_c2_33_run3/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_80_c2_20/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_80_c2_20_run2/
/EXPERIMENT_RESULTS/RS2/350_rs2_c1_80_c2_20_run3/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_50_c2_50/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_50_c2_50_run2/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_50_c2_50_run3/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_67_c2_33/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_67_c2_33_run2/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_67_c2_33_run3/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_80_c2_20/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_80_c2_20_run2/
/EXPERIMENT_RESULTS/RS3/350_rs3_c1_80_c2_20_run3/
/EXPERIMENT_RESULTS/Container/0/
/EXPERIMENT_RESULTS/Container/0_run2/
/EXPERIMENT_RESULTS/Container/0_run3/
/EXPERIMENT_RESULTS/Container/230/
/EXPERIMENT_RESULTS/Container/230_run2/
/EXPERIMENT_RESULTS/Container/230_run3/
/EXPERIMENT_RESULTS/Container/350/
/EXPERIMENT_RESULTS/Container/350_run2/
/EXPERIMENT_RESULTS/Container/350_run3/
/EXPERIMENT_RESULTS/Container/480/
/EXPERIMENT_RESULTS/Container/480_run2/
/EXPERIMENT_RESULTS/Container/480_run3/
/EXPERIMENT_RESULTS/Container/560/
/EXPERIMENT_RESULTS/Container/560_run2/
/EXPERIMENT_RESULTS/Container/560_run3/
/EXPERIMENT_RESULTS/VM/0/
/EXPERIMENT_RESULTS/VM/0_2/
/EXPERIMENT_RESULTS/VM/0_3/
/EXPERIMENT_RESULTS/VM/230/
/EXPERIMENT_RESULTS/VM/230_2/
/EXPERIMENT_RESULTS/VM/230_3/
/EXPERIMENT_RESULTS/VM/350/
/EXPERIMENT_RESULTS/VM/350_2/
/EXPERIMENT_RESULTS/VM/350_3/
/EXPERIMENT_RESULTS/VM/480/
/EXPERIMENT_RESULTS/VM/480_2/
/EXPERIMENT_RESULTS/VM/480_3/
/EXPERIMENT_RESULTS/VM/560_2/
/EXPERIMENT_RESULTS/VM/560/
/EXPERIMENT_RESULTS/VM/560_3/
/EXPERIMENT_RESULTS/process_power_consumption_boxplots_Container_all_loads.pdf
/EXPERIMENT_RESULTS/process_power_consumption_boxplots_RS2_all_loads.pdf
/EXPERIMENT_RESULTS/process_power_consumption_boxplots_RS3_all_loads.pdf
/EXPERIMENT_RESULTS/process_power_consumption_boxplots_VM_all_loads.pdf
/EXPERIMENT_RESULTS/container_power_consumption_boxplots_Container_all_loads.pdf
/EXPERIMENT_RESULTS/run_log.txt
/EXPERIMENT_RESULTS/container_power_consumption_boxplots_RS2_all_loads.pdf
/EXPERIMENT_RESULTS/container_power_consumption_boxplots_RS3_all_loads.pdf
/EXPERIMENT_RESULTS/container_power_consumption_boxplots_VM_all_loads.pdf
/EXPERIMENT_RESULTS/transaction_power_consumption_boxplots_Container_all_loads.pdf
/EXPERIMENT_RESULTS/idle_power_consumption_boxplot_Container.pdf
/EXPERIMENT_RESULTS/transaction_power_consumption_boxplots_VM_all_loads.pdf
/boxplot_total_power_by_load_and_run_Container.pdf
/boxplot_total_power_by_load_and_run_VM.pdf
/power_consumption_combined_barchart.pdf
/EXPERIMENT_RESULTS/delta_power_vs_loadlevel_Container.pdf
/EXPERIMENT_RESULTS/power_consumption_boxplots_Container_all_loads.pdf
/EXPERIMENT_AUTOMATION/.env
/EXPERIMENT_AUTOMATION/output/
/EXPERIMENT_AUTOMATION/tools/
/container_power_consumption_boxplots_Container_all_loads.pdf
/container_power_consumption_boxplots_VM_all_loads.pdf
/delta_power_vs_loadlevel_Container.pdf
/power_consumption_boxplots_Container_all_loads.pdf
